Prueba #2
En la siguiente pureba se evalua de manera EXCLUSIVA lo que se solicita, cualquier otra respuesta adicional a ella será valorada, más no evaluada. Entregue la prueba en un repositorio de github antes de el domingo 13 de agosto a las 23:59:59.

# Exámen 2:
*Agosto 12 / 2023*  

Presentado por:

*   Sara Durango - CC 1152442960
*   Andrés Coneo - CC 1065007191
*   Cristian Caballero - CC 1013660464

## **Ejercicio 1** (40%)

Construya un DataFrame a partir del siguiente diccionario

`exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}`

con las siguientes etiquetas para los índices

`labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']`

1. Seleccione solo las columnas *name* y *score*.
  
2. Filtre las filas donde el número de intentos (attemps) sea mayor que 2.

3. Filtre las filas donde el *score* se encuentre entre 15 y 20 (incluidos)

4. Cambie el *score* en la fila 'd' a 11.5

5. Agregue una nueva fila con etiqueta 'k' al dataframe con un valor que usted desee para cada columna

6. Borre la fila 'k' y entregue nuevamente el DataFrame original.

7. Ordene el DataFrame por nombre en orden ascendente.

8. Reemplace los valores de la columna *qualify* que contiene los valores *yes* y *no* por los valores booleanos True y False respectivamente.

# **Solución**
## **Guía de Manipulación de Datos con Pandas**
### **Ejercicio 1**

En esta guía, exploraremos cómo trabajar con Pandas para manipular y analizar datos utilizando unos ejemplo prácticos brindados por el docente _Tomas Atehortua_. Utilizaremos unos conjuntos de datos alojados en su cuenta de github [_@tomasate_](https://github.com/tomasate/Datos_Clases/tree/main/Datos_1).

**Paso 1.1: Construcción del DataFrame**

Empezamos creando un DataFrame utilizando datos de ejemplo. Los datos representan los resultados de un examen para varios estudiantes.

In [33]:
# Importamos Librerias
import numpy as np
import pandas as pd

# Construimos el dataframe
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   10.0         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

**Paso 1.2: Seleccionar Columnas**

En este paso, seleccionamos las columnas 'name' y 'score' del DataFrame.

In [34]:
# Seleccionar las columnas Name y Score
df_name_score = df[["name", "score"]]
df_name_score

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James   10.0
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura   12.0
i      Kevin    8.0
j      Jonas   19.0

**Paso 1.3: Filtrar Filas**

En esta sección, filtramos las filas donde el número de intentos ('attempts') es mayor que 2.

In [35]:
# Filtrar las filas donde el número de intentos (attemps) sea mayor que 2.
df[df['attempts'] > 2]

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James   10.0         3      no
f  Michael   20.0         3     yes

**Paso 1.4: Filtrar Filas por Rango de Score**

Aquí filtramos las filas donde el score está en el rango de 15 a 20 (inclusive).

In [36]:
# Filtrar las filas donde el score se encuentre entre 15 y 20 (incluidos)
df[(df['score'] >= 15) & (df['score'] <= 20)]

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

**Paso 1.5: Modificar un Valor Específico**

Modificamos el score en la fila 'd' para que sea 11.5.

In [37]:
# Cambiar el score en la fila 'd' a 11.5
d_new_score = df.loc['d', 'score'] = 11.5
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

**Paso 1.6: Agregar una Nueva Fila**

En esta sección, agregamos una nueva fila con la etiqueta 'k' y asignamos un valor específico a cada columna.

In [38]:
# Agregar una nueva fila con etiqueta 'k' con valor deseado para cada columna (este valor será 42)
df.loc['k'] = 42
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k         42   42.0        42      42

**Paso 1.7: Eliminar una Fila**

Ahora, eliminamos la fila que agregamos anteriormente con la etiqueta 'k' para volver al DataFrame original.

In [39]:
# Borrar la fila 'k' volver al DataFrame original
df.drop('k', inplace=True)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

**Paso 1.8: Reemplazar Valores en una Columna**

Finalmente, reemplazamos los valores de la columna 'qualify' ('yes' y 'no') por los valores booleanos True y False.

In [40]:
# Reemplazar los valores de la columna qualify yes y no por los valores booleanos True y False
df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})
df

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura   12.0         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

## **Ejercicio 2** (30%)

Importe el dataset `athletes` del repositorio del curso y realice las siguientes tareas:

1. Importarlo como nombre athletes
2. Filtre el dataframe tal que solo se quede con los atletas que hayan ganado al menos una medalla.
3. Calcule la masa muscular por fila con una función como

$$I_{m.m.} = \frac{Weight}{Height^2}$$

4. Agrupe los datos por calculando la media por deporte para cada una del resto de características. ¿Cuál es el deporte en el que los jugadores tienen mayor peso promedio?

5. ¿Cuál es el pais con más participación femenina?

# **Solución**
### **Ejercicio 2**

**Paso 2.1: Carga de Archivo y Renombre de Dataset**

Empezamos cargando un archivo CSV desde una URL y asignándolo a un DataFrame. Además, renombramos el dataset por simplicidad.

In [41]:
# Carga de archivo y renombre de dataset#

import pandas as pd

# URL del archivo CSV
url = "https://github.com/tomasate/Datos_Clases/raw/main/Datos_1/athletes.csv"

# Leer el archivo CSV desde la URL
athletes = pd.read_csv(url)

athletes

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
11533,265605954,Zurian Hechavarria,CUB,female,8/10/95,1.64,58.0,athletics,0,0,0
11534,214461847,Zuzana Hejnova,CZE,female,12/19/86,1.73,63.0,athletics,0,0,0
11535,88361042,di Xiao,CHN,male,5/14/91,1.85,100.0,wrestling,0,0,0
11536,900065925,le Quoc Toan Tran,VIE,male,4/5/89,1.60,56.0,weightlifting,0,0,0
11537,711404576,le Roux Hamman,RSA,male,1/6/92,1.85,70.0,athletics,0,0,0

**Paso 2.2: Filtrar Nombres con Medallas**

En esta parte, filtramos los atletas que han ganado al menos una medalla y creamos un nuevo DataFrame para estos atletas.

In [42]:
# Filtrar nombres con medallas.

# Calcula el total de medallas ganadas por cada atleta y evalúa si es mayor a 0
athletes_with_medals = ((athletes['gold'] + athletes['silver'] + athletes['bronze']) > 0)
athletes_filtered = athletes[athletes_with_medals]

# Crea el DataFrame 'winner_athletes' con los atletas que tienen medallas mayores a 0
winner_athletes = pd.DataFrame({'Athlete': athletes_filtered['name']})

# Agrega una nueva columna 'Total Medals' al DataFrame 'winner_athletes' con el número total de medallas
winner_athletes['Total Medals'] = athletes_filtered['gold'] + athletes_filtered['silver'] + athletes_filtered['bronze']

winner_athletes

                           Athlete  Total Medals
2                      Aaron Brown             1
6                    Aaron Russell             1
14                  Abbey Weitzeil             2
48     Abdoulrazak Issoufou Alfaga             1
55              Abdullah Alrashidi             1
...                            ...           ...
11487                  Zhiyong Shi             1
11491                        Zi He             1
11503                  Zivko Gocic             1
11509                      Zoe Lee             1
11511                Zoe de Toledo             1

[1857 rows x 2 columns]

**Paso 2.3: Calcular Indice de Masa Muscular**

Aquí calculamos la masa muscular de los atletas utilizando las columnas de peso y altura o IMC.

In [43]:
# Calcular Indice de Masa Muscular:

'''
Se define función para el cálculo de la masa corporal de los atletas por fila,
tomando en cuenta las columnas de peso y altura o el indice de masa corporal (IMC).
'''

def calculate_muscle_mass(row):
    return row['weight'] / (row['height'] ** 2)

# Aplicar la función a cada fila y crear una nueva columna 'Muscle Mass'
winner_athletes['Muscle Mass'] = athletes.apply(calculate_muscle_mass, axis=1)

winner_athletes

                           Athlete  Total Medals  Muscle Mass
2                      Aaron Brown             1    20.151005
6                    Aaron Russell             1    23.319453
14                  Abbey Weitzeil             2    21.461937
48     Abdoulrazak Issoufou Alfaga             1    22.871012
55              Abdullah Alrashidi             1    25.082863
...                            ...           ...          ...
11487                  Zhiyong Shi             1    24.447279
11491                        Zi He             1    20.312500
11503                  Zivko Gocic             1    24.967113
11509                      Zoe Lee             1    22.598140
11511                Zoe de Toledo             1    19.605192

[1857 rows x 3 columns]

**Paso 2.4: Mayor Peso Promedio por Deporte**

En este paso, solicitamos al usuario la columna por la cual desea ordenar y luego agrupamos los datos por deporte para calcular el peso promedio, altura promedio y promedio de medallas por deporte.

In [44]:
# Mayor Peso Promedio

# Solicitar al usuario la columna por la cual desea ordenar
column_to_sort = input("Ingrese el nombre de la columna por la cual desea ordenar: ")

# Agrupar los datos por deporte y calcular mean por cada una.
grouped_by_sport = pd.DataFrame(athletes.groupby('sport').agg({
    'height': 'mean',
    'weight': 'mean',
    'gold': 'mean',
    'silver': 'mean',
    'bronze': 'mean'
}))

# Ordenarlos por columna elegida.
grouped_by_sport.sort_values(by=column_to_sort, ascending=False, inplace=True)

grouped_by_sport

Ingrese el nombre de la columna por la cual desea ordenar: gold

                     height     weight      gold    silver    bronze
sport
gymnastics         1.637840  54.278997  0.092593  0.092593  0.092593
rowing             1.849477  79.938318  0.087751  0.087751  0.087751
fencing            1.772449  70.661224  0.085366  0.089431  0.089431
rugby sevens       1.755623  78.723906  0.083333  0.080000  0.083333
basketball         1.918715  87.750000  0.083333  0.083333  0.083333
aquatics           1.788338  72.301644  0.083045  0.077509  0.073356
canoe              1.781006  77.015291  0.081571  0.081571  0.084592
handball           1.837080  83.710602  0.079890  0.082645  0.079890
hockey             1.733981  68.900463  0.078704  0.074074  0.076389
volleyball         1.896527  80.102094  0.072917  0.070312  0.072917
equestrian         1.748704  67.493023  0.067568  0.067568  0.067568
archery            1.735952  72.190476  0.062500  0.062500  0.062500
taekwondo          1.797480  68.088000  0.062500  0.062500  0.125000
football           1.745341  68.433962  0.058920  0.058920  0.058920
weightlifting      1.666628  79.980620  0.058140  0.058140  0.058140
cycling            1.746667  67.820717  0.051429  0.053333  0.055238
wrestling          1.723000  77.742120  0.050992  0.050992  0.101983
badminton          1.745529  68.774390  0.046512  0.046512  0.046512
table tennis       1.721845  65.177515  0.046512  0.046512  0.046512
boxing             1.747745        NaN  0.045455  0.045455  0.090909
tennis             1.802251  73.162304  0.040816  0.040816  0.040816
sailing            1.761478  71.169355  0.039474  0.039474  0.039474
shooting           1.728668  73.905263  0.038462  0.038462  0.038462
judo               1.735366  76.876316  0.035714  0.035714  0.071429
athletics          1.751922  67.717727  0.027931  0.027084  0.026238
modern pentathlon  1.762361  65.958333  0.027778  0.027778  0.027778
triathlon          1.732110  60.633028  0.018182  0.018182  0.018182
golf               1.743761  71.443478  0.016667  0.016667  0.016667

**Paso 2.5: Encontrar el País con Más Participación Femenina**

En esta sección, filtramos los países por género femenino y encontramos el país con la mayor participación de atletas femeninas.

In [45]:
# 5. Encontrar el país con más participación femenina

# Se filtra países por género femenino, teniendo encuenta el máximo conteo.
country_with_most_female_participation = athletes[athletes['sex'] == 'female']['nationality'].value_counts().idxmax()

# Se imprime país con mayor participación femenina.
print(country_with_most_female_participation)

USA

## **Ejercicio 3 (30%)**

Importe el dataset de nba del repositorio de clase y responda (hint: Elimine las instancias con registros faltantes):

1. Cuáles son los equipos que pagan los salarios más altos (presente el resultado como un dataFrame con el nombre del equipo y la cantidad de dinero de la nómina)
2. Separe la variable *Age* en tres grupos y cree una nueva columna llamada *Age-Group* con esta información.
3. Construya una tabla dinámica que muestre el salario promedio de los jugadores por equipo y posición para para los cinco equipos que pagan mejores salarios.

# **Solución**
### **Ejercicio 3**

**Paso 1.1: Importación y Carga de Datos**

En el primer paso, nos aseguramos de tener la librería Pandas importada y cargamos un conjunto de datos de la NBA desde una fuente en línea.

In [46]:
#Nos aseguramos que pandas este importado
import pandas as pd

# Importamos la Base de Datos
df = pd.read_csv("https://raw.githubusercontent.com/tomasate/Datos_Clases/main/Datos_1/nba.csv")
df

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#num_teams = len(df['Team'].unique())
#print("Número de equipos:", num_teams)

**Paso 1.2: Limpieza de Datos - Eliminación de Valores Faltantes**

La limpieza de datos es crucial para asegurar la calidad de nuestro análisis. Aquí eliminamos registros con valores faltantes del conjunto de datos.

In [47]:
# Eliminamos registros con valores faltantes de la Base de Datos
df.dropna(inplace=True)
df

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...,...
449,449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

**Paso 1.3: Equipos con los Salarios Más Altos**

En esta sección, determinamos: ¿Cuáles son los cinco equipos que pagan los salarios más altos?

In [48]:
# Generamos una funcion para determinar los 5 equipos que pagan los salarios más altos
'''
La funcion permite realizar una agrupacion de los equipos y ordenarlos de de forma ascendente
de acuerdo a los salarios reportados, y en este punto mostrar los 5 primeros.
'''

top_salaries = df.groupby('Team')['Salary'].sum().sort_values(ascending=False).reset_index().head(5)
top_salaries.columns = ['Equipo', 'Salario']
#top_salaries.index = [1,2,3,4,5]
top_salaries.index = [i for i in range(1,6)]
top_salaries

                  Equipo     Salario
1   Los Angeles Clippers  93906914.0
2  Oklahoma City Thunder  81515298.0
3  Golden State Warriors  80535517.0
4    Cleveland Cavaliers  74068189.0
5          Chicago Bulls  73265800.0

**Paso 2.1: Crear Categorías de Edad**
En este paso, estamos dividiendo la variable 'Age' en grupos y agregando una nueva columna 'Age-Group' al DataFrame para categorizar a los jugadores en grupos de edad.

In [49]:
# Separamos la variable Age en grupos
bins = [0, 25, 30, df['Age'].max()]

# Creamos  unas etiquetas "labels" y la columna Age-Group
labels = ['Jóvenes', 'Intermedios', 'Mayores']
df['Age-Group'] = pd.cut(df['Age'], bins=bins, labels=labels)
# Visualizamos
df

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Age-Group
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Jóvenes
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Jóvenes
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Jóvenes
6,6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,Jóvenes
7,7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,Jóvenes
...,...,...,...,...,...,...,...,...,...,...,...
449,449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,Jóvenes
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,Intermedios
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,Jóvenes
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Intermedios
456,456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Intermedios

**Paso 3.1: Crear Tabla Dinámica de Salarios por Equipo y Posición**

En este paso, estamos filtrando el DataFrame original por los equipos en 'top_salaries', luego creamos una tabla dinámica que muestra el salario promedio de los jugadores por equipo y posición.

In [50]:
# Pregunta 3
# Filtramos el DataFrame original por los equipos en top_salaries
filtered_df = df[df['Team'].isin(top_salaries['Equipo'])]

# Creamos la tabla dinámica
pivot_table = pd.pivot_table(filtered_df,
                             values='Salary',
                             index=['Team', 'Position'],
                             aggfunc=lambda x: '{:,.0f}'.format(x.mean()))

print(pivot_table)

                                    Salary
Team                  Position
Chicago Bulls         C         13,400,000
                      PF         3,578,740
                      PG        11,171,532
                      SF         1,958,160
                      SG         5,717,549
Cleveland Cavaliers   C          7,768,435
                      PF        13,941,014
                      PG         6,551,592
                      SF           947,276
                      SG         3,349,079
Golden State Warriors C          6,541,249
                      PF        14,260,870
                      PG        11,370,786
                      SF         3,766,367
                      SG         8,224,138
Los Angeles Clippers  C         10,394,801
                      PF         6,655,482
                      PG        12,289,746
                      SF         3,662,924
                      SG         4,639,893
Oklahoma City Thunder C          6,303,143
                      PF         2,606,520
                      PG         9,382,869
                      SF         8,599,621
                      SG         3,207,058

Los resultados reflejan los salarios promedio de los jugadores en diferentes equipos y posiciones. Se observa que hay diferencias notables en los salarios según la posición de juego y el equipo. Por ejemplo, en equipos como _Cleveland Cavaliers_ y _Golden State Warriors_, los jugadores en la posición de Power Forward (PF) tienden a tener salarios más altos. Los datos también sugieren que los equipos tienen enfoques diversos en la distribución de salarios, con algunas posiciones ganando más que otras en distintos equipos. Esto podría reflejar estrategias individuales de juego por equipo, que impactan directamente en la gestión de salarios.